<h1>dynamic components demo app</h1>
<main>
    <nav>
        <ul>
            <li><a [routerLink]="['']">root</a></li>
            <li><a [routerLink]="['login']">login</a></li>
            <li><a [routerLink]="['example1']">example 1</a></li>
            <li><a [routerLink]="['example2']">example 2</a></li>
            <li><a [routerLink]="['back-office']">backoffice</a></li>
            <li><a [routerLink]="['front-office']">frontoffice</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</main>