h1 {
    background-color: lightgrey;
    margin: 0;
}

nav {
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            display: inline-block;

            a {
                padding: .4em 1em;
                background-color: whitesmoke;
                color: black;

                &:hover {
                    background-color: lightgrey;
                }
            }
        }  
    }
}

main, nav {
    width: 760px;
    margin: auto;
}

main {
    background-color: ghostwhite;
    min-height: 60vh;
}